*
{   box-sizing: border-box;
}

.header-div
{   display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: "Fredoka One", cursive;
    font-size: 30px;
    justify-content: space-between;
    padding: 15px;
}

.title-div
{   flex-grow: 1;
    text-align: left;
    width: 300px;
}

.score-div
{   flex-grow: 0;
    padding: 5px;
    text-align: right;
}

@media screen and (max-width: 720px)
{
    .header-div
    {   flex-wrap: wrap;
        justify-content: center;
    }

    .title-div
    {   flex-grow: 1;
        text-align: center;
        width: 100%;
    }

    .score-div
    {   flex-grow: 0;
        text-align: center;
        width: 100%;
    }
}