*
{   box-sizing: border-box;
}

.card
{
    border: 2px solid blue;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    overflow: none;
    padding: 5px;
    margin: 10px;
    width: 120px;
}

.card img
{   display: block;
    flex-grow: 1;
    height: auto;
    width: 100%;
}

.name-div
{   flex-grow: 0;
    text-align: center;
}